@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container{
    text-align: center;
    width: 40%;
    margin-left: 25%;
}

.form-container{
    width: 400 px;
    margin: 0 px auto; 
    margin-top: 200 px
}

.form-field{
    display: block
}