<div class="container">
  <h1>To do List</h1>
  <div class="form-container">
    <form [formGroup]="toDoForm" (submit)="add()">

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>O que precisa ser feito?</mat-label>
        <textarea maxlength="255" matInput formControlName="atividade"></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" style="float: right;">Adicionar</button>
    </form>
  </div>

  <div style="margin-top: 10%;">
    <h1> A fazer</h1>
    <mat-card *ngFor="let atividade of atividadesPorFazer" style="margin-bottom: 2%;">
      <mat-checkbox class="example-margin" (click)="concluir(atividade.id)">{{atividade.descricao}}</mat-checkbox>
    </mat-card><br>
    
  </div>

</div>